*, *::before *::after {
    box-sizing: border-box;
    font-weight: normal;
    position: absolute;
    font-family: Gotham Rounded, sans-serif;
}

html, body {
    height: 100%;
    width: 100%;
    overflow-x: hidden;
}

@keyframes gradient {
    50% {
        background: darkviolet;
        box-shadow: 0 -140px 70px -120px mediumorchid inset,
        0 -210px 70px -120px teal inset,
        0 -280px 70px -120px plum inset;
    }
}

body {
    padding: 0;
    margin: 0;
    width: 100%;
    background-size: 100% 100%;
    background: blue;
    animation: gradient 10s ease infinite;
}

.calculator-grid {
    margin-top: 50px;
    min-height: 100px;
    max-height: 100px;
    display: grid;
    justify-content: center;
    align-items: center;
    grid-template-columns: repeat(4, 100px);
    grid-template-rows: minmax(120px, auto) repeat(5, 100px);
}

.calculator-grid > button {
    cursor: pointer;
    font-size: 2rem;
    border: 1px solid white;
    outline: none;
    height: 100%;
    background-color: rgba(255, 255, 255, .75);
}

.calculator-grid > button:hover {
    background-color: rgba(255, 255, 255, .9);
}

.span-two {
    grid-column: span 2;
}

.output {
    grid-column: 1 / -1;
    background-color: rgba(0, 0, 0, .75);
    display: flex;
    align-items: flex-end;
    justify-content: space-around;
    flex-direction: column;
    padding: 10px;
    height: 100%;
    margin-bottom: 20px;
    word-wrap: break-word;
    word-break: break-all;
    max-height: 200px;
    position: relative;
}

.output .prev-operand {
    color: rgba(255, 255, 255, .75);
    font-size: 1.5rem;
    flood-color: white;

}

.output .curr-operand {
    color: white;
    font-size: 2.5rem;
    flood-color: white;
}
